__pycache__/

# Jupyter Notebook
.virtual_documents/
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Ignore data folder in any directories of the project
data/

# Ignore runs folder
runs/

exercises/*.jpeg

# PyCharm
.idea/


